[submodule "plugins/libs/wil"]
	path = plugins/libs/wil
	url = https://github.com/microsoft/wil.git
[submodule "plugins/libs/tinymp3"]
	path = plugins/libs/tinymp3
	url = https://github.com/cpuimage/tinymp3
[submodule "plugins/libs/rapidfuzz-cpp"]
	path = plugins/libs/rapidfuzz-cpp
	url = https://github.com/rapidfuzz/rapidfuzz-cpp
[submodule "plugins/libs/wechat-ocr"]
	path = plugins/libs/wechat-ocr
	url = https://github.com/swigger/wechat-ocr
