
*.pyc
*.pyc
*.pyc 
*.hlsl
*.hlsli
*.dds
*.mp3
*.sqlite
*.tlog
*.log
*.iobj
*.ipdb
*.obj
*.res
*.pdb
Thumbs.db
*.recipe
*.wav 
build/

temp/

.vscode/settings.json

src/userconfig
src/cache
src/chrome_cache
src/files/ocr
src/files/plugins
src/files/themes
src/run37.bat
src/run3732.bat
