
*.pyc
*.pyc
*.pyc 
*.hlsl
*.hlsli
*.dds
*.mp3
*.sqlite
*.tlog
*.log
*.iobj
*.ipdb
*.obj
*.res
*.pdb
Thumbs.db
*.recipe
*.wav 
build/

temp/

.vscode/settings.json
py/.cache
py/.q_vscode_style
py/userconfig
py/cache
py/chrome_cache
py/files/ocrmodel
py/files/plugins
py/files/themes
py/run37.bat
py/run3732.bat
cpp/LunaHook/build
cpp/LunaHook/builds
cpp/builds
cpp/libs/webview2
cpp/.vscode/settings.json
cpp/libs/opencv-static/windows-x86
cpp/libs/opencv-static/windows-x64
cpp/libs/onnxruntime-static/windows-x86
cpp/libs/onnxruntime-static/windows-x64
cpp/libs/opencv-static.zip
cpp/libs/onnxruntime-static.zip
cpp/libs/onnxruntime-static/onnxruntime-static.7z
cpp/libs/opencv-static/opencv-static.7z
cpp/LunaHook/.vscode/settings.json
cpp/LunaHook/scripts/YY-Thunks-1.0.7-Binary.zip
cpp/libs/YY-Thunks
py/LunaTranslator/.vscode/settings.json
py/files/yearsummary/yearsummary.value.js
