
*.pyc
*.pyc
*.pyc 
*.hlsl
*.hlsli
*.dds
*.mp3
*.sqlite
*.tlog
*.log
*.iobj
*.ipdb
*.obj
*.res
*.pdb
Thumbs.db
*.recipe
*.wav 
*.zip
*.7z
build/
builds/


.vscode/settings.json
src/.cache
src/userconfig
src/userconfig1
src/cache
src/chrome_cache
src/files/ocrmodel
src/files/plugins
src/run37.bat
src/run3732.bat
src/cpp/.vscode/settings.json
src/cpp/LunaHook/.vscode/settings.json
src/LunaTranslator/.vscode/settings.json
src/files/html/yearsummary/yearsummary.value.js
docs/.vitepress/cache
docs/node_modules
docs/.vitepress/dist
src/Microsoft.WebView2.FixedVersionRuntime.*
src/translation_record
src/scripts/temp
