aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==22.2.0
backports.zoneinfo==0.2.1
certifi==2021.5.30
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.0.9
cryptography==38.0.1
Deprecated==1.2.13
frozenlist==1.3.3
fugashi==1.2.1
gevent==22.10.2
greenlet==2.0.2
idna==2.10
jaconv==0.3.4
Js2Py==0.74
levenshtein==0.12.0
lxml==4.6.2
multidict==6.0.4
openai==0.27.0
pycparser==2.21
PyHook3==1.6.1
pyjsparser==2.7.1
pykakasi==2.2.1
PyOpenAL==0.7.11a1
pyOpenSSL==22.0.0
pyperclip==1.8.2
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pytz==2021.3
pywin32==300
QtAwesome==1.1.1
QtPy==1.9.0
regex==2021.11.10
requests==2.25.1
setuptools==56.0.0
Shapely==1.7.1
six==1.16.0
sortedcontainers==2.4.0
system_hotkey==1.0.3
tqdm==4.64.1
tzlocal==3.0
urllib3==1.26.6
websocket==0.2.1
websockets==10.4
wrapt==1.12.1
yarl==1.8.2
zhconv==1.4.3
zope.event==4.6
zope.interface==5.5.2