Deprecated
jaconv
numpy
onnxruntime
opencv_python
pyclipper
PyHook3
PyOpenAL
pyperclip
PyQt5
pywin32
QtPy
regex
requests
selenium
setuptools
Shapely
six
tzlocal
pypiwin32
nuitka
imageio
system_hotkey
websockets
python_Levenshtein
pytz
fugashi
