aiohttp==3.7.4.post0
matplotlib==3.3.3
numpy==1.24.2
openai==0.27.0
pandas==1.1.4
plotly==5.13.1
pytest==6.2.4
pytest_mock==3.10.0
requests==2.25.1
scikit_learn==1.2.1
scipy==1.5.4
tenacity==8.2.2
tqdm==4.64.0
typing_extensions==3.10.0.0
wandb==0.13.10
