name: _

on:
  workflow_call:
    inputs: 
      createrelease:
        type: boolean
        default: false
        required: false 
jobs:
  cpps:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - arch: x86
            target: win7  
          - arch: x64
            target: win7  
          - arch: x64
            target: win10  
          - arch: x86
            target: win10  
          - arch: x86
            target: winxp
    permissions:
      id-token: write
      attestations: write
      contents: write
    steps:
      - uses: actions/checkout@v4
      # - uses: microsoft/setup-msbuild@v2
      - if: matrix.target == 'winxp'
        run: |
            Set-Location "C:\Program Files (x86)\Microsoft Visual Studio\Installer\"
            $InstallPath = "C:\Program Files\Microsoft Visual Studio\2022\Enterprise"
            $componentsToAdd = @(
              "Microsoft.VisualStudio.Component.WinXP"
            )
            [string]$workloadArgs = $componentsToAdd | ForEach-Object {" --add " +  $_}
            $Arguments = ('/c', "vs_installer.exe", 'modify', '--installPath', "`"$InstallPath`"",$workloadArgs, '--quiet', '--norestart', '--nocache')
            $process = Start-Process -FilePath cmd.exe -ArgumentList $Arguments -Wait -PassThru -WindowStyle Hidden
            if ($process.ExitCode -eq 0)
            {
                Write-Host "components have been successfully added"
                Get-ChildItem C:\ProgramData\Microsoft\VisualStudio\Packages\Microsoft.Windows.XPSupport.*
            }
            else
            {
                Write-Host "components were not installed"
                exit 1
            }
      # - uses: GuillaumeFalourd/setup-windows10-sdk-action@v2
      #   with:
      #     sdk-version: 26100
      - run: python src/scripts/build_lunatranslator.py hook ${{matrix.arch}} ${{matrix.target}}
      - run: python src/scripts/build_lunatranslator.py cpp ${{ matrix.arch }} ${{matrix.target}}
      - uses: actions/upload-artifact@v4
        with:
          name: hook_${{matrix.arch}}_${{matrix.target}}
          path: src/NativeImpl/LunaHook/builds/Release
      - uses: actions/upload-artifact@v4
        with:
          name: cpp_${{matrix.arch}}_${{matrix.target}}
          path: src/NativeImpl/builds
          
  pyrt:
    runs-on: windows-latest
    strategy:
      matrix:
        include:  
          - arch: x86
            target: win7
            pythonversion: '3.7.9' 
          - arch: x64
            target: win7
            pythonversion: '3.7.9' 
          - arch: x64
            target: win10
            pythonversion: '3.12.10'  
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{matrix.pythonversion}}
          architecture: ${{ matrix.arch }}
      
      - run:  python src/scripts/build_lunatranslator.py pyrt ${{ matrix.arch }} ${{matrix.pythonversion}} ${{matrix.target}}

      - uses: actions/upload-artifact@v4
        with:
          name: pyrt_${{matrix.arch}}_${{matrix.target}}
          path: src/pyrt
  
  merge:
    runs-on: windows-latest
    needs: [pyrt,cpps]
    permissions:
      id-token: write
      attestations: write
      contents: write
    strategy:
      matrix:
        include:
          - arch: x86
            target: win7 
          - arch: x64
            target: win7 
          - arch: x64
            target: win10 
          - arch: x86
            target: winxp
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
            path: build
      - run:  python src/scripts/build_lunatranslator.py merge ${{ matrix.arch }} ${{matrix.target}}
      - uses: actions/attest-build-provenance@v2.2.0
        with:
            subject-path: src/build/LunaTranslator_${{ matrix.arch }}_${{ matrix.target }}
      - uses: actions/upload-artifact@v4
        id: upload-artifact
        with:
          name: LunaTranslator_${{ matrix.arch }}_${{ matrix.target }}_1
          path: src/build/LunaTranslator_${{ matrix.arch }}_${{ matrix.target }}

      - uses: signpath/github-action-submit-signing-request@v2
        with:
          api-token: '${{ secrets.SIGNPATH_APITOKEN }}'
          organization-id: '2e2b9c90-04bb-4b70-8562-0171927d94c6'
          project-slug: 'LunaTranslator'
          signing-policy-slug: 'test-signing'
          github-artifact-id: '${{ steps.upload-artifact.outputs.artifact-id }}'
          wait-for-completion: true
          output-artifact-directory: 'signed_${{ matrix.arch }}_${{ matrix.target }}'
          artifact-configuration-slug: 'sign_${{ matrix.arch }}_${{ matrix.target }}'

      - uses: actions/upload-artifact@v4
        with:
          name: LunaTranslator_${{ matrix.arch }}_${{ matrix.target }}
          path: signed_${{ matrix.arch }}_${{ matrix.target }}

  loadversion:
    if: ${{inputs.createrelease}}
    runs-on: windows-latest
    outputs:
      version: ${{ steps.loadversion.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - id: loadversion
        run: python src/scripts/build_lunatranslator.py loadversion | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append

  release:
    if: ${{inputs.createrelease}}
    runs-on: windows-latest
    needs: [merge,loadversion]
    steps:
      - uses: actions/download-artifact@v4
        with:
            path: build
      - uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{ needs.loadversion.outputs.version }}
          files: |
            build/LunaTranslator_x86_winxp/LunaTranslator_x86_winxp.zip
            build/LunaTranslator_x86_win7/LunaTranslator_x86_win7.zip
            build/LunaTranslator_x64_win7/LunaTranslator_x64_win7.zip
            build/LunaTranslator_x64_win10/LunaTranslator_x64_win10.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
