name: Release

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - architecture: x86
            fname: LunaTranslator_x86
          - architecture: x64
            fname: LunaTranslator
    permissions:
      id-token: write
      attestations: write
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Windows 10 SDK
        uses: GuillaumeFalourd/setup-windows10-sdk-action@v2
        with:
          sdk-version: 22621
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.7.9'
          architecture: ${{ matrix.architecture }}
      - name: Install Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Run build script
        run: |
          python src/build.py ${{ matrix.architecture }} 3.7.9
      # - name: Generate attestation for artifact
      #   uses: actions/attest-build-provenance@v1
      #   with:
      #     subject-path: build/${{ matrix.fname }}.zip
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.fname }}
          path: src/build/${{ matrix.fname }}.zip
          
      - name: loadversion
        id: loadversion
        run: python src/build.py loadversion | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
      - name: Release LunaTranslator
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.loadversion.outputs.version }}
          files: |
            src/build/${{ matrix.fname }}.zip
            src/build/${{ matrix.fname }}.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
