name: ReleaseTest

on:
  workflow_dispatch:
  
jobs:
  buildluna:
    uses: ./.github/workflows/buildluna.yml
    with:
      pythonversion: 3.8.10
  loadversion:
    runs-on: windows-latest
    outputs:
      version: ${{ steps.loadversion.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - id: loadversion
        run: python src/scripts/build_lunatranslator.py loadversion | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append

  release:
    runs-on: windows-latest
    needs: [buildluna,loadversion]
    steps:
      - uses: actions/download-artifact@v4
        with:
            path: build
      - uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.loadversion.outputs.version }}
          files: |
            build/LunaTranslator_x86_winxp/LunaTranslator_x86_winxp.zip
            build/LunaTranslator_x86/LunaTranslator_x86.zip
            build/LunaTranslator/LunaTranslator.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
      - run: |
          curl --request GET --url https://lunatranslator.org/githubupdatenotify --header 'updatenotifytoken: ${{ secrets.updatenotifytoken }}'