name: Release

on:
  workflow_dispatch:
  
jobs:
  buildluna:
    uses: ./.github/workflows/buildluna.yml
    # with: 
    #   createrelease: true
    secrets: inherit
  
  loadversion:
    # if: ${{inputs.createrelease}}
    runs-on: windows-latest
    outputs:
      version: ${{ steps.loadversion.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - id: loadversion
        run: python src/scripts/build_lunatranslator.py loadversion | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append

  release:
    runs-on: windows-latest
    needs: [buildluna,loadversion]
    steps:
      - uses: actions/download-artifact@v4
        with:
            path: build
      - uses: softprops/action-gh-release@v2.2.2
        with:
          tag_name: ${{ needs.loadversion.outputs.version }}
          files: |
            build/signed/LunaTranslator_x86_winxp.zip
            build/signed/LunaTranslator_x86_win7.zip
            build/signed/LunaTranslator_x64_win7.zip
            build/signed/LunaTranslator_x64_win10.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: curl http://lunatranslator.org/${{ secrets.LUNA_UPDATE_NOTIFY }}
